body{
  background-color:#181818;
  margin: 0;
  text-align: center;
}
.prof-pic{
  display:inline-block;

}
.name{
  text-align: center;
  margin-bottom: 0;
}
.bio{
  text-align: center;
}
.short-bio{
  background-color: #F2F2F2;
  text-align: left;
}
.content{
  color: #181818;
  font-family: 'Poppins', sans-serif;
  font-weight:400;
  text-align: justify;
}
.ext-link{
  color: #8758FF;
}
.serv-icon{
  max-height: 90%;
  max-width: 90%;
}
.serv-title{
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color:#181818;
  text-align: center;
  margin-left: 0;
  padding-left: 0;

}
.icon-cell{
  width: 10%;
}
hr {
  border-style: dotted none none;
  color: #F2F2F2;
  width: 5%;
  border-top-width: 8px;

}
h1{
  color: #8758FF;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}
h3{
  color: #F2F2F2;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
