<!--
  Author: Jorge Corichi Herrejon
  Student ID: 301275725
  File Name: header.ejs
  Date: 09/28/2022
-->
<!--
  File to implement in a modular fashion the head an opening tags for the views
  This site uses fonts provided by a Google API
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!--Styling section-->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <link rel="icon" href="/images/favicon.ico">
    <!-- Fonts from Google API-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;800&display=swap" rel="stylesheet">
  </head>
  <body>