<!--
  Author: Jorge Corichi Herrejon
  Student ID: 301275725
  File Name: footer.ejs
  Date: 09/28/2022
-->
<!-- File to implement in a modular fashion the scritps and closing tags of the views-->
<!-- Bootstrap requires 3 dependencies: jQuery, Popper and its own CSS-->
<!--Script section-->
    <script src = "/jquery/dist/jquery.min.js"></script>
    <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src = "/popper.js/dist/umd/popper.min.js"></script>

    </body>
</html>