<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<div>
    <img class = "prof-pic" src="images/profile_pic_circle.png" alt="My photo" width="300" height="300">
    <h1 class = "name"> Jorge Corichi Herrejon</h1>
    <h3 class = "bio"> Mechatronic Engineer, Student and Enchiladas Aficionado</h3>
</div>
<hr>
<div class="short-bio">
  <p class = "content padded-content">
     God help us, we're in the hands of engineers. Hey, take a look at the earthlings. Goodbye! Checkmate... Forget the fat lady! You're obsessed with the fat lady! Drive us out of here! What do they got in there? King Kong? Yeah, but John, if The Pirates of the Caribbean breaks down, the pirates don’t eat the tourists.   
    </p>
</div>
<hr>
<h3>Looking for my full qualifications and past experience? <br>Have a look at my <a class="ext-link" href="files/Resume_CorichiJorge_SW.pdf">resume!</a></h3>
<h3>You can also take a peek into my <a class = "ext-link" href="https://www.linkedin.com/in/jorgecorichi/">LinkedIn</a></h3>

<%- include partials/footer.ejs %>
