<!--
  Author: Jorge Corichi Herrejon
  Student ID: 301275725
  File Name: about_me.ejs
  Date: 09/28/2022
-->
<!--
    File to render the About Me page.
    Includes two links: to internal file and to external site
-->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<div>
    <img class = "prof-pic" src="images/profile_pic_circle.png" alt="My photo" width="300" height="300">
    <h1 class = "name"> Jorge Corichi Herrejon</h1>
    <h3 class = "bio"> Mechatronic Engineer, Student and Enchiladas Aficionado</h3>
</div>
<hr>
<div class="short-bio">
  <p class = "content padded-content">
    My name is Jorge Corichi Herrejon. I'm a curious and go-getter person. I got my <strong> Bachelor's Degree in Mechatronics Engineering </strong>on 2021 from <strong>Monterrey's Institute of Technology </strong> (Go, Borregos!).
    I'm currently studying <strong>Software Engineering Technologies and Artificial Intelligence</strong> at <strong>Centennial College</strong> as a Fast Track student. I'm also working as a <strong>Research Student in Advanced Manufacturing</strong>, partnering with the <strong>Applied Research, Innovation and Entrepeneurship Services (ARIES)</strong> and industry partners. 
    I've also worked in other universities and companies, such as the <strong>Monterrey's Institute of Technology</strong> and <strong>Deloitte</strong>.
    <br>
    Oh, and the Enchilada's bit is not a joke. I have a ranking of the best Enchiladas in Mexico, USA and Canada.    
    </p>
</div>
<hr>
<h3>Looking for my full qualifications and past experience? <br>Have a look at my <a class="ext-link" href="images/Resume_CorichiJorge_SW.pdf">resume!</a></h3>
<h3>You can also take a peek into my <a class = "ext-link" href="https://www.linkedin.com/in/jorgecorichi/">LinkedIn</a></h3>

<%- include partials/footer.ejs %>
