<!--
  Author: Jorge Corichi Herrejon
  Student ID: 301275725
  File Name: servicesv.ejs
  Date: 09/28/2022
-->
<!--
  File used to render the Services page. 
-->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<div>
    <h1>What are ya buyin'?</h1>
    <h3>I provide multiple services, from a variety of fields. <br> Feel free to take a look and, if you're interested, please <a class="ext-link" href="/contact">contact me!</a></h3>
  </div>
  <div class="short-bio">
    <table class = "serv-table" style = "width: 100%;">
      <tr>
        <td class = "icon-cell">
          <img class = "serv-icon" src="images/front-end.png">
        </td>
        <td>
          <table>
            <thead>
              <tr>
                <p class = "serv-title">
                  Front-End Developing
                </p>
              </tr>
            </thead>
            <tr>
              <td class ="content">
                <p class = "content">      
                  Do you like this site? I can design one for you as well! An aesthetically pleasing, tailor-made, dynamic page, that incorporates the best practices for the ultimate User Experience. 
                  Let me incorporate my knowledge of HTML5, CSS and Javascript to create a site that will be the envy of the net! 
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  <hr>
  <div class="short-bio">
    <table class = "serv-table" style = "width: 100%">
      <tr>
        <td>
          <table>
            <thead>
              <tr>
                <p class = "serv-title">
                  Python Developer
                </p>
              </tr>
            </thead>
            <tr>
              <th>
                <p class = "content" style = "text-align:justify">
                  If you can dream it, you can code it in Python. 
                  With more than 2 years of experience with Python, I can handle different kinds of projects in Python. Do you need data cleansing and analysis? I can use Pandas, Numpy and PlotPy to do the job. 
                  Do you require to create a small game like Pong or Frogger? I've done those by using in depth the functionalities of the Tortule module. Perhaps you need the devlopment a Graphic User Interface? I got you. I've developed GUIs in PyQT and Kivy.
                  I also dabble in more technical issues by employing the right data structures and algorthims for time and space complexity constraints. 
                </p>
              </th>
            </tr>
          </table>
        </td>
        <td>
          <img class = "serv-icon" src="images/python.png">
        </td>
      </tr>
    </table>
  </div>
  <hr>
  <div class="short-bio">
    <table class = "serv-table" style = "width: 100%;">
      <tr>
        <td class = "icon-cell">
          <img class = "serv-icon" src="images/tester.png">
        </td>
        <td>
          <table>
            <thead>
              <tr>
                <p class = "serv-title">
                  Automation and Manual Testing
                </p>
              </tr>
            </thead>
            <tr>
              <td class ="content">
                <p class = "content">
                  So you decided you were going to implement Testing Driven Development this time? Or maybe you need someone to create scriptsthat validate your app's functionality periodacally while already deployed? No problem. I'm a manual and automation tester with experience with mobile apps and web application testing. 
                  I use Appium and Selenium, respectively, for End-to-End testing. I'm familiar with Data Driven and Behaviour Driven Testing, so whether you need a more simplified syntax like Cucumber's to express your business logic or not, I got you covered. 
                  I also have experience in implementing Unit testing in C# and Java, using MOQ and Mockito, respectively. Whatever you need to test, you found yourself a tester!
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  <hr>
  <div class="short-bio">
    <table class = "serv-table" style = "width: 100%">
      <tr>
        <td>
          <table>
            <thead>
              <tr>
                <p class = "serv-title">
                  Internet of Things Designer
                </p>
              </tr>
            </thead>
            <tr>
              <th>
                <p class = "content" style = "text-align:justify">
                  Not only can I design software systems, but I can also make it interact with hardware and electronic components. So, basically, I can cater to any technological need that you have. 
                  Whether you want to implement a smart system for all your home, or monitor industrial equipment, all from your phone, you can count on me to deliver a top notch job. 
                  I'm well versed in different types of microcontrollers, sensors, actuators, mechanisms and communication protocols, so the sky is the limit!
                </p>
              </th>
            </tr>
          </table>
        </td>
        <td>
          <img class = "serv-icon" src="images/iot.png">
        </td>
      </tr>
    </table>
  </div>
  <br>
<%- include partials/footer.ejs %>