<!--
  Author: Jorge Corichi Herrejon
  Student ID: 301275725
  File Name: servicesv.ejs
  Date: 09/28/2022
-->
<!--
  File used to render the Services page. 
-->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<div>
    <h1>What are ya buyin'?</h1>
    <h3>I provide multiple services, from a variety of fields. <br> Feel free to take a look and, if you're interested, please <a class="ext-link" href="contact_me.html">contact me!</a></h3>
  </div>
  <div class="short-bio">
    <table class = "serv-table" style = "width: 100%;">
      <tr>
        <td class = "icon-cell">
          <img class = "serv-icon" src="images/front-end.png">
        </td>
        <td>
          <table>
            <thead>
              <tr>
                <p class = "serv-title">
                  Front-End Developing
                </p>
              </tr>
            </thead>
            <tr>
              <td class ="content">
                <p class = "content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In hendrerit gravida rutrum quisque non tellus. Aliquam faucibus purus in massa tempor. Dolor purus non enim praesent elementum. Est ultricies integer quis auctor elit sed vulputate. Dapibus ultrices in iaculis nunc sed augue lacus viverra. Rhoncus mattis rhoncus urna neque viverra justo nec ultrices dui. Consectetur a erat nam at lectus urna. Enim praesent elementum facilisis leo vel fringilla est. At lectus urna duis convallis convallis tellus id.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  <hr>
  <div class="short-bio">
    <table class = "serv-table" style = "width: 100%">
      <tr>
        <td>
          <table>
            <thead>
              <tr>
                <p class = "serv-title">
                  Python Developer
                </p>
              </tr>
            </thead>
            <tr>
              <th>
                <p class = "content" style = "text-align:justify">
                  Amet facilisis magna etiam tempor orci eu lobortis elementum. Tellus id interdum velit laoreet id donec. Sed risus ultricies tristique nulla aliquet enim tortor. Vitae elementum curabitur vitae nunc. Sed odio morbi quis commodo odio aenean sed adipiscing. Amet nisl suscipit adipiscing bibendum est ultricies. Mauris vitae ultricies leo integer malesuada nunc. Molestie a iaculis at erat pellentesque adipiscing. Auctor elit sed vulputate mi sit amet mauris commodo quis. Tortor dignissim convallis aenean et tortor at.
                </p>
              </th>
            </tr>
          </table>
        </td>
        <td>
          <img class = "serv-icon" src="images/python.png">
        </td>
      </tr>
    </table>
  </div>
  <hr>
  <div class="short-bio">
    <table class = "serv-table" style = "width: 100%;">
      <tr>
        <td class = "icon-cell">
          <img class = "serv-icon" src="images/tester.png">
        </td>
        <td>
          <table>
            <thead>
              <tr>
                <p class = "serv-title">
                  Automation and Manual Testing
                </p>
              </tr>
            </thead>
            <tr>
              <td class ="content">
                <p class = "content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In hendrerit gravida rutrum quisque non tellus. Aliquam faucibus purus in massa tempor. Dolor purus non enim praesent elementum. Est ultricies integer quis auctor elit sed vulputate. Dapibus ultrices in iaculis nunc sed augue lacus viverra. Rhoncus mattis rhoncus urna neque viverra justo nec ultrices dui. Consectetur a erat nam at lectus urna. Enim praesent elementum facilisis leo vel fringilla est. At lectus urna duis convallis convallis tellus id.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  <hr>
  <div class="short-bio">
    <table class = "serv-table" style = "width: 100%">
      <tr>
        <td>
          <table>
            <thead>
              <tr>
                <p class = "serv-title">
                  Internet of Things Designer
                </p>
              </tr>
            </thead>
            <tr>
              <th>
                <p class = "content" style = "text-align:justify">
                  Amet facilisis magna etiam tempor orci eu lobortis elementum. Tellus id interdum velit laoreet id donec. Sed risus ultricies tristique nulla aliquet enim tortor. Vitae elementum curabitur vitae nunc. Sed odio morbi quis commodo odio aenean sed adipiscing. Amet nisl suscipit adipiscing bibendum est ultricies. Mauris vitae ultricies leo integer malesuada nunc. Molestie a iaculis at erat pellentesque adipiscing. Auctor elit sed vulputate mi sit amet mauris commodo quis. Tortor dignissim convallis aenean et tortor at.
                </p>
              </th>
            </tr>
          </table>
        </td>
        <td>
          <img class = "serv-icon" src="images/iot.png">
        </td>
      </tr>
    </table>
  </div>
  <br>
<%- include partials/footer.ejs %>