<!--
  Author: Jorge Corichi Herrejon
  Student ID: 301275725
  File Name: index.ejs
  Date: 09/28/2022
-->
<!--File to render the home page-->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  <main>  

    <div class="intro">
      <img src="images/favicon_v2.png" alt="my-logo" class = "logo">
      <br>
      <h1>Hi, I'm Jorge. <br> An engineer.</h1>
    </div>
    <div class = "statement">
      <h3 style = "text-align: justify">
        I'm a Mechatronic engineer with ample knowledge in providing with software and  hardware solutions.
        I'm commited as a professional to always implement the right technology for the job, incoporating the best
        and latest practices.
        I'm always eager to  learn something new and happy to take on new opportunities and challenges.
        Make sure to check my site and contact if anything catches your eye.
      </h3>
    </div>
  </main>
<%- include partials/footer.ejs %>    

